{% extends 'settings.html' %}

{% block app_explanation %}
<h2>遊び方</h2>
<h3>話す</h3>
<p>「話す」を押すと録音が始まり、「送信」を押すと録音が停止して音声がサーバに送信されます。</p>
<h3>言語</h3>
<p>左下の選択バーで言語を選択できます。日本語を話すなら「Ja」、英語を話すなら「En」を選択します。モールスは、日本語の場合「全角」、英語の場合「半角」で出力されます。</p>
<h3>音量</h3>
<p>音量バーでボリューム調整できます。左が消音、右にいくほど音量が大きくなります。</p>
<h3>全画面</h3>
<p>PCでは右上のアイコンから全画面に切り替えることができます。もう一度押すと戻ります。</p>

<h2>注意</h2>
<ul>
    <li>音声データが私の契約するサーバに送られますが、このアプリ以外には利用しません。</li>
    <li>不具合などありましたら、下のリンクからTwitterなどで教えていただけると助かります。</li>
</ul>
{% endblock %}