{% extends 'settings_en.html' %}

{% block app_explanation %}
<h2>Settings</h2>
<h3>Morse Speed</h3>
<div class="range">
    <!-- モールスの速さを5段階で設定する。初期値は3 -->
    <input type="range" min="1" max="5" step="1" value="3" id="dur-range">
</div>

<h2>How To Use</h2>
<h3>Speak</h3>
<p>Pressing "speak" starts recording, and pressing "send" stops recording and sends the voice to the server.</p>
<h3>Language</h3>
<p>You can select your language from the selection bar in the lower left corner. Select "Ja" to speak Japanese or "En" to speak English.</p>
<h3>Volume</h3>
<p>The volume can be adjusted with the volume bar. The left side is mute, and the volume gets louder as you go to the right.</p>
<h3>Full Screen</h3>
<p>On a PC, you can switch to full screen from the icon in the upper right corner. Press again to return.</p>

<h2>Caution</h2>
<ul>
    <li>The voice data is sent to a server I subscribe to, but I don't use it for anything other than this application.</li>
    <li>If you have any problems, please let us know via Twitter or other means using the link below.</li>
</ul>
{% endblock %}