#chatbot-header {
    background: #33805d;
}
#chatbot-zoom-icon:active {
    background: #4d9970;
}

/*相手の吹き出しのデザイン*/
.chatbot-left {
    background: #e6f7f1;
    color: #1a805e;
}
.chatbot-left-rounded {
    background: #e6f7f1;
    color: #1a805e;
}

/*自分の吹き出し*/
.chatbot-right {
    background: #45996e;
    color: #FFF;
}

#error{
    color: #ff6565
}

/*---------- ロボット考え中アニメーション ----------*/
#robot-loading-field>span {
    color: #33805d;
}

/*---------- footer ----------*/
#volume-icon {
    color: #33805d;
}
input[type="range"]::-webkit-slider-thumb{
    background: #33805d;
}
input[type="range"]::-moz-range-thumb{
    background: #33805d;
}
input[type="range"]::-ms-thumb{
    background: #33805d;
}
/*送信ボタン*/
#chatbot-submit {
    background: #33805d;
    color: white;
}

#chatbot-submit:active {
    background: #86bfae;
}
#chatbot-submit:disabled{
    background: #aaa;
}