
#chatbot-header {
  background: #888888;
}

.button-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin:0 auto;
  padding: .9em 2em;
  border: 1px solid #7c7c7c;
  border-radius: 0px;
  background-color: #fff;
  color: #7c7c7c;
  font-size: 12px;
}

.button-lang::after {
  transform: rotate(45deg);
  width: 5px;
  height: 5px;
  margin-left: 10px;
  border-top: 2px solid #7c7c7c;
  border-right: 2px solid #7c7c7c;
  content: '';
}

#back-icon {
  display: block;
  height: 100%;
  line-height: 60px;
  position: absolute;
  right: 70px;
  color: #FFF;
  cursor: pointer;
}

#content-body {
  width: 70%;
  margin: 0 auto;
}

h2 {
  border: #000;
  margin-top: 35px;
  margin-left: -24px;
}

h3 {
  margin-top: 5px;
  margin-left: -16px;
}

h4 {
  margin-left: -8px;
}

p {
  font-size: 15px;
  padding-bottom: 5px;
}

