{% extends './common/templates/base.html' %}

{% block head %}
<title>設定 - Settings</title>
<!-- Google マテリアル使用（全画面ボタンなど））-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href= "https://fonts.googleapis.com/icon?family=Material+Icons" rel= "stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./common/static/style.css" type="text/css">
<link rel="stylesheet" href="./common/static/color.css" type="text/css">
{% endblock %}

{% block body %}
<div id="chatbot">
    <div id="chatbot-header">
        <div id="chatbot-logo">設定</div>
        <i id= "back-icon" class="material-icons" onclick= "backToHome()">home</i>
        <i id="chatbot-zoom-icon" class="material-icons waves-effect waves-light" onclick="chatbotZoom()">fullscreen</i>
    </div>

    <div id="chatbot-body">
        <div id="content-body">
            <h2>言語 Language</h2>
            <form>
                <p>日本語に切り替える場合は、下のボタンを押してください。</p>
                <button type="button" class="button-lang" onclick="switchToJapanese()">日本語へ</button>
            </form>

            {% block app_explanation %}{% endblock %}
            
            <h2>Developer</h2>
            <p>Muse's IT Room / ミューズの情報教室</p>
            <h4>Links</h4>
            <ul>
                <li><a href="https://www.youtube.com/channel/UC71_UDvWYvzwG6y4rDdH4Kg">YouTube</a></li>
                <p>I post easy-to-understand instructional videos on computer science.</p>
                <li><a href="https://twitter.com/musemyuzu">Twitter</a></li>
                <p>You can see the development stage of this application.</p>
                <li><a href=https://musemyuzu.com/">Official Site</a></li>
                <p>Explanatory blog on the topic of AI and how to use it.</p>
            </ul>

            <h2>License</h2>
            <p>GPL v3.0</p>
            <p>The code is available on <a href="https://github.com/MuseMyuzu/SpeechToMorseConverter">GitHub</a>.</p>
            <p>You are welcome to introduce this application on SNS!</p>

            <h2>Privacy Policy</h2>
            <p>This application uses "Google Analytics", an access analysis tool by Google.
               This Google Analytics uses cookies to collect traffic data.
               Traffic data is collected anonymously and does not identify individuals.
               By using this application, the user is deemed to have given permission for the use of cookies.</p>

            <h2>Versions</h2>
            <p>3/23/2023 Ver. 1.0</p>
        </div>
    </div>

    <div id= "chatbot-footer">

    </div>

</div>
<link rel="stylesheet" href="./common/static/settings/settings.css" type="text/css">
<script src="./common/static/settings/settings.js"></script>
{% block scripts %}{% endblock %}
{% endblock %}

