#chatbot-header {
    background: #335C80;
}
#chatbot-zoom-icon:active {
    background: #4D7999;
}

/*相手の吹き出しのデザイン*/
.chatbot-left {
    background: #E6F0F7;
    color: #1A5F80;
}
.chatbot-left-rounded {
    background: #E6F0F7;
    color: #1A5F80;
}

/*自分の吹き出し*/
.chatbot-right {
    background: #456F99;
    color: #FFF;
}

#error{
    color: #ff6565
}

/*---------- ロボット考え中アニメーション ----------*/
#robot-loading-field>span {
    color: #335C80;
}

/*---------- footer ----------*/
#volume-icon {
    color: #335C80;
}
input[type="range"]::-webkit-slider-thumb{
    background: #335C80;
}
input[type="range"]::-moz-range-thumb{
    background: #335C80;
}
input[type="range"]::-ms-thumb{
    background: #335C80;
}
/*送信ボタン*/
#chatbot-submit {
    background: #335C80;
    color: white;
}

#chatbot-submit:active {
    background: #86ABBF;
}