<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="話し声を録音しモールス信号に変換します。電信の音（トンツー）も鳴ります。OpenAIのWhisperAPIという文字起こしサービスを利用しました。">
    {% block head %}{% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2RK5YX84J0"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2RK5YX84J0');
    </script>
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>