{% extends 'base.html' %}

{% block head %}
<title>設定 - Settings</title>
<!-- Google マテリアル使用（全画面ボタンなど））-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href= "https://fonts.googleapis.com/icon?family=Material+Icons" rel= "stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/style.css" type="text/css">
{% endblock %}

{% block body %}
<div id="chatbot">
    <div id="chatbot-header">
        <div id="chatbot-logo">設定</div>
        <i id= "back-icon" class="material-icons" onclick= "backToHome()">home</i>
        <i id="chatbot-zoom-icon" class="material-icons waves-effect waves-light" onclick="chatbotZoom()">fullscreen</i>
    </div>

    <div id="chatbot-body">
        <div id="content-body">
            <h2>言語 Language</h2>
            <form>
                <p>日本語に切り替える場合は、下のボタンを押してください。</p>
                <button class="button-lang onclick="switchToJapanese()">English</button>
            </form>

            {% block app-explanation %}{% endblock %}
            
            <h2>Developer</h2>
            <p>Muse's IT Room / ミューズの情報教室</p>
            <h4>Links</h4>
            <ul>
                <li>YouTube</li>
                <p>I post easy-to-understand instructional videos on computer science.</p>
                <li>Twitter</li>
                <p>You can see the development stage of this application.</p>
                <li>Official Site</li>
                <p>Explanatory blog on the topic of AI and how to use it.</p>
            </ul>

            <h2>License</h2>
            <p>GPL v3.0. Source code is available on GitHub.</p>
            <p>You're more than welcome to introduce me to this app on SNS!</p>
        </div>
    </div>

    <div id= "chatbot-footer">

    </div>

</div>
<link rel="stylesheet" href="../static/settings.css" type="text/css">
<script src="../static/settings.js"></script>
{% endblock %}