{% extends 'base.html' %}

{% block head %}
<title>設定 - Settings</title>
<!-- Google マテリアル使用（全画面ボタンなど））-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href= "https://fonts.googleapis.com/icon?family=Material+Icons" rel= "stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/style.css" type="text/css">
{% endblock %}

{% block body %}
<div id="chatbot">
    <div id="chatbot-header">
        <div id="chatbot-logo">設定</div>
        <i id= "back-icon" class="material-icons" onclick= "backToHome()">home</i>
        <i id="chatbot-zoom-icon" class="material-icons waves-effect waves-light" onclick="chatbotZoom()">fullscreen</i>
    </div>

    <div id="chatbot-body">
        <div id="content-body">
            <h2>言語 Language</h2>
            <form>
                <p>To view the description in English, please click the button below.</p>
                <button type="button" class="button-lang" onclick="switchToEnglish()">English</button>
            </form>

            {% block app_explanation %}{% endblock %}
            
            <h2>作成者</h2>
            <p>ミューズの情報教室</p>
            <h4>リンク</h4>
            <ul>
                <li>YouTube</li>
                <p>コンピュータ系の分かりやすい解説動画を投稿しています</p>
                <li>Twitter</li>
                <p>このアプリの開発段階の様子が見れます。</p>
                <li>ミューズの情報教室サイト</li>
                <p>話題のAIの使い方などの解説ブログ</p>
            </ul>

            <h2>ライセンス</h2>
            <p>GPL v3.0です。GitHubでソースコードを公開しています。</p>
            <p>SNS等でこのアプリを紹介してもらうのは大歓迎です！</p>
        </div>
    </div>

    <div id= "chatbot-footer">

    </div>

</div>
<link rel="stylesheet" href="../static/settings.css" type="text/css">
<script src="../static/settings.js"></script>
{% endblock %}